@media (max-width: 600px) {
    .btn{
        &-lang{
            font-size: 14px;
        }

        &_slider-prev,
        &_slider-next{
            width: 39px;
            height: 21px;

            svg{
                width: 39px;
                height: 21px;
            }
        }
    }
}