@media (max-width: 800px) {
    .title{
        font-size: 57px;

        &-second{
            font-size: 38px;
        }

        &-small{
            font-size: 30px;
        }
    }

    .form{
        grid-template-columns: repeat(2, 1fr);

        &-block{
            grid-column: 1;

            // &__input{
            //     line-height: 53px;
            // }
        }

        &-text{
            grid-column: 2;
            grid-row: 1 / span 3;

            &__textarea{
                height: 100%;
            }
        }

        &-footer{
            &__policy{
                font-size: 14px;
            }
        }
    }
}