@media (max-width: 800px) {
    .header{
        &-burget-mob{
            display: block;
            cursor: pointer;
        }
        &-nav{
            &-top{
                display: none;
            }

            &__time-work{
                max-width: 188px;
                text-align: right;
            }
        }

        &-contact{
            display: none;
        }
    }
    .header-sub{
        &__nav{
            display: none;
        }

        &__search{
            margin-left: auto;
        }
    }

    .header-mob{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: 46px 20px;
        height: 100vmax;
        background: var(--color-white);

        &__close{
            position: absolute;
            top: 17px;
            right: 14px;
            cursor: pointer;
        }

        .header-nav{
            display: flex;
            flex-flow: column;
            margin-bottom: 38px;

            &-top{
                display: flex;
                flex-flow: column;
            }
        }

        .header-contact{
            display: block;
            margin-bottom: 22px;
        }

        .header-contacts__phones{
            margin-bottom: 16px;
        }

        .header-nav__time-work{
            text-align: left;
        }
    }
}

@media (max-width: 400px) {
    .header{
        &-logo{
            &__link{
                width: 79px;
                height: 69px;
            }
        }
        &-nav{
            display: none;
        }

        &-contacts{
            &__phones{
                display: none;
            }

            &__select-wrap{
                justify-content: flex-end;
                .select2-container{
                    max-width: 127px;
                    width: 100% !important;
                }
                .select2-container--default .select2-selection--single .select2-selection__rendered{
                    padding: 0;
                }

                .select2-container--default .select2-selection--single .select2-selection__arrow{
                    height: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -25px;
                }
            }

            &__langs{
                flex-flow: column;
                align-items: flex-end;
                gap: 20px;
            }

            &__select-lang{
                font-size: 14px;
            }
        }
    }

    .header-mob{
        .header-contacts__phones{
            display: block;
        }
    }
}