header{
    position: relative;
    top: 0;
    z-index: 2;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 16px;

    &-burget-mob{
        display: none;
    }

    &-logo{
        &__link{
            display: block;
            width: 132px;
            height: 116px;
        }
    }

    &-nav{
        display: flex;
        justify-content: center;
        flex-flow: column;
        gap: 28px;

        &-top{
            display: flex;
            gap: 38px;
        }


        &__link{
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
        }

        &__time-work{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

    }

    &-contact{
        margin: auto 0 26px;
        &__email{
            color: var(--color-green);
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
        }
    }

    &-contacts{
        display: flex;
        justify-content: center;
        flex-flow: column;
        gap: 24px;

        &__controls{
            display: flex;
            gap: 20px;
        }

        &__langs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 49px;
        }

        &__select-wrap{
            display: flex;
            align-items: center;
            gap: 14px;
        }

        &__select-lang{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            background: transparent;
            border: none;

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &__select-icon{
            margin-top: -5px;
        }

        &__phones{
            &-link{
                color: inherit;
                font-size: 20px;
                font-weight: 600;
                line-height: normal;
                text-decoration: none;
            }
        }
    }

}

.header-sub{
    position: relative;
    z-index: 1;
    top: 19px;
    display: flex;
    justify-content: space-between;
    &__nav{
        display: flex;
        gap: 52px;
    }

    &__link{
        color: var(--color-white);
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
    }
}