@media (max-width: 800px) {
    .footer{
        flex-flow: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 58px;

        &-block{
            font-size: 14px;
            line-height: 30px;

            &__link{
                font-size: 14px;
                line-height: 30px;
            }
        }
    }
}