:root{
    --color-white: #fff;
    --color-black: #222;
    --color-green: #69A54D;
    --color-green-dark: #7F9D64;
    --color-gold: #CDBD84;
    --color-gray: #E4E4E4;
    --color-gray-rgba: rgba(196, 196, 196, 0.30);
    --color-white-rgba: rgba(255, 255, 255, 0.70);
    --color-gray-img: rgba(2, 7, 31, 0.30);
    --color-gold-rgba: rgba(232, 222, 186, 0.28);

    --font-main: 'Montserrat', sans-serif;
}